In [1]:
import geopandas as gpd
import pandas as pd

In [2]:
buildings = gpd.read_file('buildings_BHUTAN.geojson')
buildings.tail()

        area_in_meters                   geometry
390026        525.6170  POINT (90.72295 27.54464)
390027        263.1115  POINT (89.65415 27.41575)
390028        221.7251  POINT (89.56026 26.81444)
390029        696.8798  POINT (89.62874 27.50028)
390030         23.7747  POINT (88.78743 27.13526)

In [18]:
grids = gpd.read_file('grids_thimphu\grids_thimphu.shp')
grids.head()

,Maille,Maille_Y,Maille_X,X,Y,X1,Y1,X2,Y2,area_cell,geometry
0,1,1,1,89.6050,27.4050,89.6000,27.4000,89.6100,27.4100,1.0968,"POLYGON ((89.60000 27.41000, 89.61000 27.41000..."
1,2,1,2,89.6150,27.4050,89.6100,27.4000,89.6200,27.4100,1.0968,"POLYGON ((89.61000 27.41000, 89.62000 27.41000..."
2,3,1,3,89.6250,27.4050,89.6200,27.4000,89.6300,27.4100,1.0968,"POLYGON ((89.62000 27.41000, 89.63000 27.41000..."
3,4,1,4,89.6350,27.4050,89.6300,27.4000,89.6400,27.4100,1.0968,"POLYGON ((89.63000 27.41000, 89.64000 27.41000..."
4,5,1,5,89.6450,27.4050,89.6400,27.4000,89.6500,27.4100,1.0968,"POLYGON ((89.64000 27.41000, 89.65000 27.41000..."

In [27]:
buildings_grids = gpd.sjoin(buildings, grids, predicate='within')

In [28]:
buildings_grids.shape

(27295, 13)

In [21]:
grouped = buildings_grids.groupby('Maille').agg(buildings_count = ('geometry','count'),
                                 buildings_area = ('area_in_meters','sum'))

In [22]:
bd = grids.merge(grouped.reset_index(), on='Maille', how='left')[['Maille','buildings_count','buildings_area','geometry']]

In [23]:
bd.to_file('Thimphu_BuildingDensity.geojson')